@theme {
    --color-brand-brown: #5d4037;
    --color-brand-pink: #f8bbd0;
    --font-sans: "Instrument Sans", sans-serif;
}

/* Custom button hover effect */
.btn-shop:hover {
    background-color: white;
    color: var(--color-brand-brown) !important;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}
